            body {
                font-family: Arial, sans-serif;
            }
            #formulario {
                margin-bottom: 20px;
            }
            #entradaRegistro {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            #formulario button {
                padding: 10px 20px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            #formulario button:hover {
                background-color: #3e8e41;
            }
            #listaRegistros li {
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
            }
            #listaRegistros button {
                padding: 5px 10px;
                background-color: #f44336;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            #listaRegistros button:hover {
                background-color: #d32f2f;
            }
